@charset "UTF-8";
@font-face {
  font-family: "allura";
  src: url(./assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(./assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "poppins2";
  src: url(./assets/fonts/Poppins-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* li {
  list-style: none;
}
* h1 {
  font-family: allura;
}
* a {
  text-decoration: none;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url(./assets/img/bg-slider-06.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}
header .header-content h1 {
  margin: 6vh 0 0 0;
  font-size: 5vh;
  color: #976643;
  letter-spacing: 3px;
  font-weight: 200;
}
header .header-content h2 {
  margin: -2vh 0 0 0;
  padding: 0 0 6vh 0;
  font-family: poppins;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  font-size: 5vh;
  letter-spacing: 20px;
}
@media screen and (max-width: 750px) {
  header .header-content h2 {
    font-size: 3remvw;
    margin-top: 3vh;
    letter-spacing: 10px;
  }
}
header .header-content p {
  color: white;
  font-family: poppins2;
  text-transform: uppercase;
  letter-spacing: 11px;
  font-weight: 100;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 850px) {
  header .header-content p {
    letter-spacing: 1vw;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8%;
  min-height: 60px;
  width: 100%;
  color: white;
}
@media screen and (max-width: 750px) {
  nav {
    padding: 10px 0 0;
  }
}
nav .logo {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 40px 0 0;
}
@media screen and (max-width: 1000px) {
  nav .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 15%;
    margin: 10px 30px 0 0;
  }
}
@media screen and (max-width: 750px) {
  nav .logo {
    width: 50%;
  }
}
nav .logo h1 {
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  nav .logo h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 450px) {
  nav .logo h1 {
    font-size: 3rem;
  }
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
nav .pages {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
}
@media screen and (max-width: 750px) {
  nav .pages {
    display: none;
  }
}
nav .pages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vw; /* Espacement uniforme */
  width: 100%;
  max-width: 1000px;
}
nav .pages li {
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: poppins2;
  font-size: 0.8rem;
  text-transform: uppercase;
}
nav .pages li:hover {
  color: #976643;
}
nav .nav-icon {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 20px;
}
@media screen and (max-width: 1000px) {
  nav .nav-icon {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  nav .nav-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    padding: 0;
  }
}
@media screen and (max-width: 750px) {
  nav .nav-icon ul {
    gap: 20%;
  }
}
@media screen and (max-width: 450px) {
  nav .nav-icon ul {
    gap: 10%;
    padding: 0 20px 0 0;
  }
}
nav .nav-icon li {
  margin: 0 10px;
}
@media screen and (max-width: 750px) {
  nav .nav-icon li {
    gap: 100px;
    width: 50%;
  }
}
nav .nav-icon li i {
  text-decoration: none;
  color: aliceblue;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
@media screen and (max-width: 750px) {
  nav .nav-icon li i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 750px) {
  nav .nav-icon li i {
    font-size: 1.2rem;
  }
}
nav .nav-icon li i:hover {
  color: #976643;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40vh;
  background-color: #f0efea;
}
@media screen and (max-width: 600px) {
  main .section1 {
    height: 70vh;
  }
}
main .section1 .left-part {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: dashed 1px #976643;
}
@media screen and (max-width: 750px) {
  main .section1 .left-part {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
main .section1 .left-part h2 {
  font-family: allura;
  font-size: 2rem;
  font-weight: 200;
  color: #976643;
  margin-bottom: -10px;
  margin-top: 15px;
}
@media screen and (max-width: 750px) {
  main .section1 .left-part h2 {
    margin: 0;
  }
}
main .section1 .left-part h3 {
  font-family: poppins;
  text-transform: uppercase;
}
main .section1 .left-part img:nth-of-type(1) {
  margin: 25px;
}
@media screen and (max-width: 1392px) {
  main .section1 .left-part img:nth-of-type(1) {
    margin: 15px;
  }
}
main .section1 .left-part p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-family: roboto;
  font-size: 0.9rem;
  margin: 5px 5%;
}
@media screen and (max-width: 750px) {
  main .section1 .left-part p {
    font-size: 0.8rem;
  }
}
main .section1 .left-part img:nth-of-type(2) {
  margin: 20px;
  border-radius: 150px;
  width: 75px;
  height: 75px;
}
main .section1 .left-part h4 {
  font-family: roboto;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 10px;
}
main .section1 .left-part h5 {
  font-family: poppins2;
  color: #976643;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 15px;
}
main .section1 .right-part {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  main .section1 .right-part {
    display: none;
  }
}
main .section1 .right-part .img-container {
  width: 100%; /* Le conteneur prend toute la largeur */
  height: 100%; /* Hauteur dynamique */
  overflow: hidden; /* Cache les parties de l'image qui débordent */
}
main .section1 .right-part img {
  width: 100%; /* L'image prend la largeur du conteneur */
  height: 100%; /* L'image prend la hauteur du conteneur */
  -o-object-fit: cover;
     object-fit: cover; /* Remplit le conteneur sans déformer l'image */
}
main .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 1000px;
}
@media screen and (max-width: 750px) {
  main .section2 {
    height: 1100px;
  }
}
main .section2 .section2-title {
  display: grid;
  width: 100%;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  background: #2b2a2a;
}
main .section2 .section2-title h2 {
  font-family: allura;
  font-size: 2.2rem;
  font-weight: 200;
  color: #976643;
  margin-top: 50px;
}
main .section2 .section2-title img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -90px;
}
main .section2 .section2-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .section2 .section2-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 8vw;
  margin-top: -130px;
}
@media screen and (max-width: 500px) {
  main .section2 .section2-list ul {
    gap: 5vw;
    margin: -130px auto;
  }
}
main .section2 .section2-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: poppins2;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 750px) {
  main .section2 .section2-list li {
    font-size: 0.6rem;
  }
}
main .section2 .section2-list li:hover {
  cursor: pointer;
  color: #976643;
}
main .section2 .section2-list li:hover::after {
  content: "";
  position: absolute;
  height: 1px;
  top: 30px;
  background: #976643;
  width: 90%;
}
main .section2 .section2-list li:first-child {
  color: #976643;
}
main .section2 .section2-list li:first-child::after {
  content: "";
  position: absolute;
  height: 1px;
  top: 30px;
  background: #976643;
  width: 90%;
}
main .section2 .section2-list li::after {
  content: "";
  position: absolute;
  height: 1px;
  top: 30px;
  background: #f0efea;
  width: 90%;
}
main .section2 .section2-menu {
  width: 100%; /* Largeur du conteneur */
  height: 100vh; /* Hauteur du conteneur */
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  background-image: url(./assets/img/bg-menu-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
@media screen and (min-width: 1850px) {
  main .section2 .section2-menu {
    background-size: 100% 100%;
  }
}
main .section2 .section2-menu .section2-menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "dish1 dish2" "dish3 dish4" "dish5 dish6" "dish7 dish8";
  position: relative;
  top: -70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  justify-items: center;
  background-color: #f0efea;
  width: 70%;
  max-width: 1100px;
  min-width: 650px;
  height: 55vh;
}
@media screen and (max-width: 750px) {
  main .section2 .section2-menu .section2-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    height: 800px;
    min-width: 0;
  }
}
main .section2 .section2-menu .section2-menu-container:nth-child(1) {
  grid-area: dish1;
}
main .section2 .section2-menu .section2-menu-container:nth-child(2) {
  grid-area: dish2;
}
main .section2 .section2-menu .section2-menu-container:nth-child(3) {
  grid-area: dish3;
}
main .section2 .section2-menu .section2-menu-container:nth-child(4) {
  grid-area: dish4;
}
main .section2 .section2-menu .section2-menu-container:nth-child(5) {
  grid-area: dish5;
}
main .section2 .section2-menu .section2-menu-container:nth-child(6) {
  grid-area: dish6;
}
main .section2 .section2-menu .section2-menu-container:nth-child(7) {
  grid-area: dish7;
}
main .section2 .section2-menu .section2-menu-container:nth-child(8) {
  grid-area: dish8;
}
main .section2 .section2-menu .section2-menu-container .dish1,
main .section2 .section2-menu .section2-menu-container .dish2,
main .section2 .section2-menu .section2-menu-container .dish3,
main .section2 .section2-menu .section2-menu-container .dish4,
main .section2 .section2-menu .section2-menu-container .dish5,
main .section2 .section2-menu .section2-menu-container .dish6,
main .section2 .section2-menu .section2-menu-container .dish7,
main .section2 .section2-menu .section2-menu-container .dish8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  main .section2 .section2-menu .section2-menu-container .dish1,
  main .section2 .section2-menu .section2-menu-container .dish2,
  main .section2 .section2-menu .section2-menu-container .dish3,
  main .section2 .section2-menu .section2-menu-container .dish4,
  main .section2 .section2-menu .section2-menu-container .dish5,
  main .section2 .section2-menu .section2-menu-container .dish6,
  main .section2 .section2-menu .section2-menu-container .dish7,
  main .section2 .section2-menu .section2-menu-container .dish8 {
    width: 100%;
    height: 100px;
  }
}
main .section2 .section2-menu .section2-menu-container .dish1::after,
main .section2 .section2-menu .section2-menu-container .dish2::after,
main .section2 .section2-menu .section2-menu-container .dish3::after,
main .section2 .section2-menu .section2-menu-container .dish4::after,
main .section2 .section2-menu .section2-menu-container .dish5::after,
main .section2 .section2-menu .section2-menu-container .dish6::after,
main .section2 .section2-menu .section2-menu-container .dish7::after,
main .section2 .section2-menu .section2-menu-container .dish8::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 90%;
  margin-left: 15px;
  height: 1px;
  border-top: 1px dashed rgba(31, 31, 31, 0.2470588235);
  margin-top: 13vh;
}
@media screen and (max-width: 750px) {
  main .section2 .section2-menu .section2-menu-container .dish1::after,
  main .section2 .section2-menu .section2-menu-container .dish2::after,
  main .section2 .section2-menu .section2-menu-container .dish3::after,
  main .section2 .section2-menu .section2-menu-container .dish4::after,
  main .section2 .section2-menu .section2-menu-container .dish5::after,
  main .section2 .section2-menu .section2-menu-container .dish6::after,
  main .section2 .section2-menu .section2-menu-container .dish7::after,
  main .section2 .section2-menu .section2-menu-container .dish8::after {
    display: none;
  }
}
main .section2 .section2-menu .section2-menu-container .dish1 .dish-img,
main .section2 .section2-menu .section2-menu-container .dish2 .dish-img,
main .section2 .section2-menu .section2-menu-container .dish3 .dish-img,
main .section2 .section2-menu .section2-menu-container .dish4 .dish-img,
main .section2 .section2-menu .section2-menu-container .dish5 .dish-img,
main .section2 .section2-menu .section2-menu-container .dish6 .dish-img,
main .section2 .section2-menu .section2-menu-container .dish7 .dish-img,
main .section2 .section2-menu .section2-menu-container .dish8 .dish-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin-left: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .section2 .section2-menu .section2-menu-container .dish1 .dish-img img,
main .section2 .section2-menu .section2-menu-container .dish2 .dish-img img,
main .section2 .section2-menu .section2-menu-container .dish3 .dish-img img,
main .section2 .section2-menu .section2-menu-container .dish4 .dish-img img,
main .section2 .section2-menu .section2-menu-container .dish5 .dish-img img,
main .section2 .section2-menu .section2-menu-container .dish6 .dish-img img,
main .section2 .section2-menu .section2-menu-container .dish7 .dish-img img,
main .section2 .section2-menu .section2-menu-container .dish8 .dish-img img {
  border-radius: 150px;
  width: 85px;
  height: 85px;
}
@media screen and (max-width: 1000px) {
  main .section2 .section2-menu .section2-menu-container .dish1 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish2 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish3 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish4 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish5 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish6 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish7 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish8 .dish-img img {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  main .section2 .section2-menu .section2-menu-container .dish1 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish2 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish3 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish4 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish5 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish6 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish7 .dish-img img,
  main .section2 .section2-menu .section2-menu-container .dish8 .dish-img img {
    width: 60%;
    min-width: 65px;
    height: auto;
  }
}
main .section2 .section2-menu .section2-menu-container .dish1 .dish-name,
main .section2 .section2-menu .section2-menu-container .dish2 .dish-name,
main .section2 .section2-menu .section2-menu-container .dish3 .dish-name,
main .section2 .section2-menu .section2-menu-container .dish4 .dish-name,
main .section2 .section2-menu .section2-menu-container .dish5 .dish-name,
main .section2 .section2-menu .section2-menu-container .dish6 .dish-name,
main .section2 .section2-menu .section2-menu-container .dish7 .dish-name,
main .section2 .section2-menu .section2-menu-container .dish8 .dish-name {
  display: grid;
  width: 50%;
  margin-left: 15px;
}
main .section2 .section2-menu .section2-menu-container .dish1 .dish-name h3,
main .section2 .section2-menu .section2-menu-container .dish2 .dish-name h3,
main .section2 .section2-menu .section2-menu-container .dish3 .dish-name h3,
main .section2 .section2-menu .section2-menu-container .dish4 .dish-name h3,
main .section2 .section2-menu .section2-menu-container .dish5 .dish-name h3,
main .section2 .section2-menu .section2-menu-container .dish6 .dish-name h3,
main .section2 .section2-menu .section2-menu-container .dish7 .dish-name h3,
main .section2 .section2-menu .section2-menu-container .dish8 .dish-name h3 {
  font-family: roboto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 3px;
  font-size: 1rem;
}
@media screen and (max-width: 750px) {
  main .section2 .section2-menu .section2-menu-container .dish1 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish2 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish3 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish4 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish5 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish6 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish7 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish8 .dish-name h3 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  main .section2 .section2-menu .section2-menu-container .dish1 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish2 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish3 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish4 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish5 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish6 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish7 .dish-name h3,
  main .section2 .section2-menu .section2-menu-container .dish8 .dish-name h3 {
    font-size: 0.8rem;
  }
}
main .section2 .section2-menu .section2-menu-container .dish1 .dish-name h4,
main .section2 .section2-menu .section2-menu-container .dish2 .dish-name h4,
main .section2 .section2-menu .section2-menu-container .dish3 .dish-name h4,
main .section2 .section2-menu .section2-menu-container .dish4 .dish-name h4,
main .section2 .section2-menu .section2-menu-container .dish5 .dish-name h4,
main .section2 .section2-menu .section2-menu-container .dish6 .dish-name h4,
main .section2 .section2-menu .section2-menu-container .dish7 .dish-name h4,
main .section2 .section2-menu .section2-menu-container .dish8 .dish-name h4 {
  font-family: poppins2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.8rem;
}
@media screen and (max-width: 750px) {
  main .section2 .section2-menu .section2-menu-container .dish1 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish2 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish3 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish4 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish5 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish6 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish7 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish8 .dish-name h4 {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 500px) {
  main .section2 .section2-menu .section2-menu-container .dish1 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish2 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish3 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish4 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish5 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish6 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish7 .dish-name h4,
  main .section2 .section2-menu .section2-menu-container .dish8 .dish-name h4 {
    font-size: 0.6rem;
  }
}
main .section2 .section2-menu .section2-menu-container .dish1 .dish-price,
main .section2 .section2-menu .section2-menu-container .dish2 .dish-price,
main .section2 .section2-menu .section2-menu-container .dish3 .dish-price,
main .section2 .section2-menu .section2-menu-container .dish4 .dish-price,
main .section2 .section2-menu .section2-menu-container .dish5 .dish-price,
main .section2 .section2-menu .section2-menu-container .dish6 .dish-price,
main .section2 .section2-menu .section2-menu-container .dish7 .dish-price,
main .section2 .section2-menu .section2-menu-container .dish8 .dish-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .section2 .section2-menu .section2-menu-container .dish1 .dish-price h5,
main .section2 .section2-menu .section2-menu-container .dish2 .dish-price h5,
main .section2 .section2-menu .section2-menu-container .dish3 .dish-price h5,
main .section2 .section2-menu .section2-menu-container .dish4 .dish-price h5,
main .section2 .section2-menu .section2-menu-container .dish5 .dish-price h5,
main .section2 .section2-menu .section2-menu-container .dish6 .dish-price h5,
main .section2 .section2-menu .section2-menu-container .dish7 .dish-price h5,
main .section2 .section2-menu .section2-menu-container .dish8 .dish-price h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: roboto;
  font-size: 1rem;
  color: #976643;
}
@media screen and (max-width: 750px) {
  main .section2 .section2-menu .section2-menu-container .dish1 .dish-price h5,
  main .section2 .section2-menu .section2-menu-container .dish2 .dish-price h5,
  main .section2 .section2-menu .section2-menu-container .dish3 .dish-price h5,
  main .section2 .section2-menu .section2-menu-container .dish4 .dish-price h5,
  main .section2 .section2-menu .section2-menu-container .dish5 .dish-price h5,
  main .section2 .section2-menu .section2-menu-container .dish6 .dish-price h5,
  main .section2 .section2-menu .section2-menu-container .dish7 .dish-price h5,
  main .section2 .section2-menu .section2-menu-container .dish8 .dish-price h5 {
    font-size: 0.9rem;
  }
}
main .section2 .section2-menu .section2-menu-container::before {
  content: "";
  height: 5px;
  top: -5px;
  background: #976643;
  position: absolute;
  width: 100%;
}
main .section3 {
  background: #2b2a2a;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 600px) {
  main .section3 {
    height: 200vh;
  }
}
main .section3 .section3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  height: 80%;
  max-width: 1500px;
}
@media screen and (max-width: 600px) {
  main .section3 .section3-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
}
main .section3 .section3-container .section3-left-part {
  background: black;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  main .section3 .section3-container .section3-left-part {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  main .section3 .section3-container .section3-left-part {
    width: 100%;
    height: 50vh;
  }
}
main .section3 .section3-container .section3-left-part .info-contain {
  color: #f0efea;
  width: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px dashed #f0efea;
  margin: 6%;
}
@media screen and (max-width: 1000px) {
  main .section3 .section3-container .section3-left-part .info-contain {
    margin: 4%;
  }
}
main .section3 .section3-container .section3-left-part .info-contain h2 {
  font-family: allura;
  font-size: 2.7rem;
  font-weight: 200;
  color: #976643;
  margin-top: 10%;
}
@media screen and (min-width: 1700px) {
  main .section3 .section3-container .section3-left-part .info-contain h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 600px) {
  main .section3 .section3-container .section3-left-part .info-contain h2 {
    margin: 10px auto 5px auto;
  }
}
main .section3 .section3-container .section3-left-part .info-contain h3 {
  font-family: poppins;
  text-transform: uppercase;
  margin-top: -38px;
  font-size: 1.4rem;
}
@media screen and (min-width: 1700px) {
  main .section3 .section3-container .section3-left-part .info-contain h3 {
    font-size: 1.6rem;
  }
}
main .section3 .section3-container .section3-left-part .info-contain img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: -10px;
}
main .section3 .section3-container .section3-left-part .info-contain h5 {
  font-family: roboto;
  text-transform: uppercase;
  font-size: 1.15rem;
  color: #976643;
}
@media screen and (min-width: 1700px) {
  main .section3 .section3-container .section3-left-part .info-contain h5 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1000px) {
  main .section3 .section3-container .section3-left-part .info-contain h5 {
    font-size: 1rem;
  }
}
main .section3 .section3-container .section3-left-part .info-contain p {
  font-family: poppins2;
  font-weight: 300;
  font-size: 0.9rem;
}
@media screen and (min-width: 1700px) {
  main .section3 .section3-container .section3-left-part .info-contain p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1000px) {
  main .section3 .section3-container .section3-left-part .info-contain p {
    font-size: 0.8rem;
  }
}
main .section3 .section3-container .section3-right-part {
  background: #f0efea;
  width: 70%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 600px) {
  main .section3 .section3-container .section3-right-part {
    width: 100%;
    height: 190vw;
  }
}
main .section3 .section3-container .section3-right-part .section3-right-part-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .section3 .section3-container .section3-right-part .title {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
main .section3 .section3-container .section3-right-part .title h2 {
  font-family: allura;
  font-size: 2.7rem;
  font-weight: 200;
  color: #976643;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1700px) {
  main .section3 .section3-container .section3-right-part .title h2 {
    font-size: 3rem;
  }
}
main .section3 .section3-container .section3-right-part .title h3 {
  font-family: poppins;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: -8% 0 8% 0;
}
@media screen and (min-width: 1700px) {
  main .section3 .section3-container .section3-right-part .title h3 {
    font-size: 1.6rem;
  }
}
main .section3 .section3-container .section3-right-part .title img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
main .section3 .section3-container .section3-right-part .reservation {
  display: grid;
  position: relative;
  margin-top: 15px;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "people date time" "name phone email" ". submit .";
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  justify-items: center;
}
@media screen and (max-width: 600px) {
  main .section3 .section3-container .section3-right-part .reservation {
    display: block;
  }
}
main .section3 .section3-container .section3-right-part .reservation:nth-child(1) {
  grid-area: people;
}
main .section3 .section3-container .section3-right-part .reservation:nth-child(2) {
  grid-area: date;
}
main .section3 .section3-container .section3-right-part .reservation:nth-child(3) {
  grid-area: time;
}
main .section3 .section3-container .section3-right-part .reservation:nth-child(4) {
  grid-area: name;
}
main .section3 .section3-container .section3-right-part .reservation:nth-child(5) {
  grid-area: phone;
}
main .section3 .section3-container .section3-right-part .reservation:nth-child(6) {
  grid-area: email;
}
main .section3 .section3-container .section3-right-part .reservation:nth-child(7) {
  grid-area: submit;
}
main .section3 .section3-container .section3-right-part .reservation label,
main .section3 .section3-container .section3-right-part .reservation select,
main .section3 .section3-container .section3-right-part .reservation input,
main .section3 .section3-container .section3-right-part .reservation .select-wrapper,
main .section3 .section3-container .section3-right-part .reservation .input-wrapper {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Supprime le style par défaut dans les navigateurs modernes */
  border: none; /* Retire la bordure */
  padding: 0; /* Supprime l'espace intérieur */
  margin: 10px; /* Supprime l'espace extérieur */
  background: none; /* Pas de couleur ou image de fond */
  color: inherit; /* Hérite de la couleur du texte parent */
  outline: none; /* Pas d'effet de focus visible */
  width: 75%; /* Laisse l'élément s'adapter */
}
@media screen and (max-width: 600px) {
  main .section3 .section3-container .section3-right-part .reservation label,
  main .section3 .section3-container .section3-right-part .reservation select,
  main .section3 .section3-container .section3-right-part .reservation input,
  main .section3 .section3-container .section3-right-part .reservation .select-wrapper,
  main .section3 .section3-container .section3-right-part .reservation .input-wrapper {
    margin: 5%;
    height: 35px;
    width: 90%;
  }
}
main .section3 .section3-container .section3-right-part .reservation label::after,
main .section3 .section3-container .section3-right-part .reservation select::after,
main .section3 .section3-container .section3-right-part .reservation input::after,
main .section3 .section3-container .section3-right-part .reservation .select-wrapper::after,
main .section3 .section3-container .section3-right-part .reservation .input-wrapper::after {
  content: ""; /* Insère un contenu vide */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: gray; /* Couleur de la ligne */
}
@media screen and (max-width: 600px) {
  main .section3 .section3-container .section3-right-part .reservation label::after,
  main .section3 .section3-container .section3-right-part .reservation select::after,
  main .section3 .section3-container .section3-right-part .reservation input::after,
  main .section3 .section3-container .section3-right-part .reservation .select-wrapper::after,
  main .section3 .section3-container .section3-right-part .reservation .input-wrapper::after {
    height: 1px;
  }
}
main .section3 .section3-container .section3-right-part .reservation button {
  grid-area: submit;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  color: #f0efea;
  border: none;
  height: 55px;
  width: 100%;
  border-radius: 50px;
  font-family: poppins;
  font-size: 1.1rem;
  letter-spacing: 2px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
main .section3 .section3-container .section3-right-part .reservation button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  main .section3 .section3-container .section3-right-part .reservation button {
    font-size: 0.8rem;
    border-radius: 35px;
    height: 45px;
  }
}
@media screen and (max-width: 600px) {
  main .section3 .section3-container .section3-right-part .reservation button {
    margin-top: 30px;
  }
}
main .section4 {
  background: #2b2a2a;
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3.5vh;
}
@media screen and (max-width: 750px) {
  main .section4 {
    display: none;
  }
}
main .section4 .section4-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 1200px;
}
main .section4 .section4-container .title {
  display: grid;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
main .section4 .section4-container .title h2 {
  font-family: allura;
  font-size: 2.7rem;
  font-weight: 200;
  color: #976643;
  margin-top: 10%;
}
@media screen and (min-width: 1700px) {
  main .section4 .section4-container .title h2 {
    font-size: 3rem;
  }
}
main .section4 .section4-container .title h3 {
  font-family: poppins;
  text-transform: uppercase;
  margin-top: -1vh;
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: white;
}
@media screen and (min-width: 1700px) {
  main .section4 .section4-container .title h3 {
    font-size: 1.6rem;
  }
}
main .section4 .section4-container .title img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
main .section4 .section4-container .tickets .grid-container {
  height: 30vh;
  margin-top: 20px;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  grid-template-columns: 65% 35%; /* La première colonne prend 65%, la seconde 35% */
  grid-template-rows: auto auto; /* Deux lignes, taille automatique */
  grid-template-areas: "t1 t3" "t2 t3"; /* La deuxième ligne, item2 occupe 65%, item3 occupe 35% */
}
main .section4 .section4-container .tickets .t1 {
  grid-area: t1;
  background-color: #f0efea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 180px;
}
main .section4 .section4-container .tickets .t1 .left-part {
  width: 35%;
  background: url(./assets/img/event-01.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
main .section4 .section4-container .tickets .t1 .left-part .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 100;
}
main .section4 .section4-container .tickets .t1 .left-part .date h3 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: poppins;
  font-size: 1.8vh;
  color: #f0efea;
  font-weight: 200;
}
main .section4 .section4-container .tickets .t1 .left-part .date h4 {
  margin: 0;
  text-align: center;
  font-family: poppins2;
  font-size: 1.2vh;
  color: #f0efea;
  font-weight: 100;
  letter-spacing: 0.5px;
}
main .section4 .section4-container .tickets .t1 .left-part::after {
  content: "";
  background: #2b2a2a;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
main .section4 .section4-container .tickets .t1 .right-part {
  width: 65%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 3vw;
}
main .section4 .section4-container .tickets .t1 .right-part h3 {
  font-family: roboto;
  font-weight: 300;
  padding-left: 2%;
}
main .section4 .section4-container .tickets .t1 .right-part h4 {
  font-family: roboto;
  font-weight: 100;
  color: gray;
}
main .section4 .section4-container .tickets .t1 .right-part button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border: none;
  font-family: poppins2;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}
main .section4 .section4-container .tickets .t2 {
  grid-area: t2;
  background-color: #f0efea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 180px;
  position: relative;
}
main .section4 .section4-container .tickets .t2 .left-part {
  width: 35%;
  background: url(./assets/img/event-02.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
main .section4 .section4-container .tickets .t2 .left-part .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 100;
}
main .section4 .section4-container .tickets .t2 .left-part .date h3 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: poppins;
  font-size: 1.8vh;
  color: #f0efea;
  font-weight: 200;
}
main .section4 .section4-container .tickets .t2 .left-part .date h4 {
  margin: 0;
  text-align: center;
  font-family: poppins2;
  font-size: 1.2vh;
  color: #f0efea;
  font-weight: 100;
  letter-spacing: 0.5px;
}
main .section4 .section4-container .tickets .t2 .left-part::after {
  content: "";
  background: #2b2a2a;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
main .section4 .section4-container .tickets .t2 .right-part {
  width: 65%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 3vw;
}
main .section4 .section4-container .tickets .t2 .right-part h3 {
  font-family: roboto;
  font-weight: 300;
  padding-left: 2%;
}
main .section4 .section4-container .tickets .t2 .right-part h4 {
  font-family: roboto;
  font-weight: 100;
  color: gray;
}
main .section4 .section4-container .tickets .t2 .right-part button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border: none;
  font-family: poppins2;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}
main .section4 .section4-container .tickets .t3 {
  grid-area: t3;
  width: 100%; /* Largeur du conteneur */
  height: 100%; /* Hauteur du conteneur */
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  background-image: url(./assets/img/event-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .section4 .section4-container .tickets .t3 .contain {
  display: grid;
  position: relative;
  justify-items: center;
  background-color: #f0efea;
  width: 85%;
  height: 85%;
}
main .section4 .section4-container .tickets .t3::after {
  content: "";
  background: #2b2a2a;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 9%;
  left: 50%;
  -webkit-transform: translate(-50%, -9%);
          transform: translate(-50%, -9%);
  z-index: 1;
}
main .section4 .section4-container .tickets .t3 .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  z-index: 100;
  margin-top: -2px;
}
main .section4 .section4-container .tickets .t3 .date h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: poppins;
  font-size: 1.8vh;
  color: #f0efea;
  font-weight: 200;
}
main .section4 .section4-container .tickets .t3 .date h4 {
  margin: 0;
  text-align: center;
  font-family: poppins2;
  font-size: 1.2vh;
  color: #f0efea;
  font-weight: 100;
  letter-spacing: 0.5px;
}
main .section4 .section4-container .tickets .t3 .text {
  width: 65%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -40%;
}
main .section4 .section4-container .tickets .t3 .text h3 {
  font-family: roboto;
  font-weight: 300;
  padding-left: 2%;
}
main .section4 .section4-container .tickets .t3 .text h4 {
  font-family: roboto;
  font-weight: 100;
  color: gray;
}
main .section4 .section4-container .tickets .t3 .text button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  font-family: poppins2;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
}
main .section4 .section4-container .tickets .t3 .text button:hover {
  cursor: pointer;
}
main .section5 {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25vh;
  width: 100%;
  background-color: #2b2a2a;
  position: relative;
}
@media screen and (max-width: 600px) {
  main .section5 {
    height: 90vh;
    margin-top: -100px;
  }
}
main .section5 .citation-container {
  background-color: #f0efea;
  width: 60%;
  height: 20vh;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin: 0 auto;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  main .section5 .citation-container {
    height: 70vh;
  }
}
main .section5 .citation-container img {
  position: absolute;
  border-radius: 150px;
  width: 65px;
  height: 65px;
  top: -3vh;
}
main .section5 .citation-container p {
  font-family: roboto;
  font-size: 0.9rem;
  margin: 5%;
}
@media screen and (max-width: 600px) {
  main .section5 .citation-container p {
    line-height: 30px;
    margin-bottom: 40px;
  }
}
main .section5 .citation-container h4 {
  font-family: roboto;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: -1.5vh;
}
main .section5 .citation-container h5 {
  font-family: poppins2;
  color: #976643;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 8px;
}
main .section5 .map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 15vh;
}
main .section5 .map-container .map {
  width: 100%;
  height: 100%;
  background: url(./assets/img/gmap.jpg);
  background-position: center;
  background-size: cover;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(./assets/img/bg-footer.jpg);
  background-position: center;
  background-size: cover;
  height: 20vh;
  margin-top: 15vh;
  color: white;
}
@media screen and (max-width: 600px) {
  footer {
    background: #2b2a2a;
  }
}
footer .left-part {
  width: 50%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 600px) {
  footer .left-part {
    display: none;
  }
}
footer .left-part .left-part-container {
  display: grid;
  margin: auto 3vw auto 6vw;
}
footer .left-part .left-part-container h3 {
  font-family: allura;
  font-size: 2.7rem;
  font-weight: 200;
  color: #976643;
}
footer .left-part .left-part-container p {
  font-family: roboto;
  font-size: 0.9rem;
  color: gray;
  line-height: 30px;
}
footer .right-part {
  width: 50%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 600px) {
  footer .right-part {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer .right-part .right-part-container {
  display: grid;
  margin: auto 6vw auto 3vw;
}
@media screen and (max-width: 600px) {
  footer .right-part .right-part-container {
    margin: 0 auto;
  }
}
footer .right-part .right-part-container h4 {
  text-transform: uppercase;
  font-family: roboto;
  margin-bottom: 10px;
  margin-left: 1vw;
}
footer .right-part .right-part-container .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
footer .right-part .right-part-container .subscribe input {
  border: 1px solid rgb(88, 77, 66);
  background: none;
  height: 35px;
  width: 50%;
  color: white;
  padding-left: 1vw;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 600px) {
  footer .right-part .right-part-container .subscribe input {
    width: 100%;
  }
}
footer .right-part .right-part-container .subscribe input:focus {
  border: 1px solid rgb(180, 165, 150);
  color: white;
  font-family: roboto;
  font-size: 1.2rem;
  outline: none;
}
footer .right-part .right-part-container .subscribe input::-webkit-input-placeholder {
  font-family: roboto;
  font-size: 0.9rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer .right-part .right-part-container .subscribe input::-moz-placeholder {
  font-family: roboto;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer .right-part .right-part-container .subscribe input:-ms-input-placeholder {
  font-family: roboto;
  font-size: 0.9rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer .right-part .right-part-container .subscribe input::-ms-input-placeholder {
  font-family: roboto;
  font-size: 0.9rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer .right-part .right-part-container .subscribe input::placeholder {
  font-family: roboto;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer .right-part .right-part-container .subscribe button {
  margin-left: 50px;
  border: 1px solid rgb(88, 77, 66);
  background: none;
  border-radius: 50px;
  width: 12vw;
  height: 35px;
  color: white;
  font-size: 0.8rem;
  font-family: roboto;
  line-height: 1.2;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
@media screen and (max-width: 600px) {
  footer .right-part .right-part-container .subscribe button {
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
  }
}
footer .right-part .right-part-container .subscribe button:hover {
  background: rgb(87, 64, 43);
  border-color: transparent;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
footer .right-part .right-part-container .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
footer .right-part .right-part-container .icon h4 {
  margin-bottom: 0;
}
footer .right-part .right-part-container .icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3vw;
  gap: 2vw;
}
footer .right-part .right-part-container .icon ul i {
  color: white;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
footer .right-part .right-part-container .icon ul i:hover {
  color: #976643;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}/*# sourceMappingURL=index.css.map */