main {
    .section1 {
        display: flex;
        width: 100%;
        height: 40vh;
        background-color: #f0efea;

        .left-part {
            width: 50%;
            display: flex;
            align-items: center;
            margin: 25px;
            flex-direction: column;
            border: dashed 1px #976643;

            h2 {
                font-family: $font1;
                font-size: 2rem;
                font-weight: 200;
                color: #976643;
                margin-bottom: -10px;
                margin-top: 15px;
            }
            h3 {
                font-family: $font2;
                text-transform: uppercase;
            }
            img:nth-of-type(1) {
                margin: 25px;

                @media screen and (max-width: 1392px) {
                    margin: 15px;
                }
            }
            p {
                display: flex;
                text-align: center;
                font-family: $font3;
                font-size: 0.9rem;
                margin: 5px 5%;
            }
            img:nth-of-type(2) {
                margin: 20px;
                border-radius: 150px;
                width: 75px;
                height: 75px;
            }
            h4 {
                font-family: $font3;
                letter-spacing: 2px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            h5 {
                font-family: $font4;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 300;
                margin-bottom: 15px;
            }

        }

        .right-part {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 0;
            padding: 0;
            overflow: hidden;

            .img-container {
                width: 100%; /* Le conteneur prend toute la largeur */
                height: 100%; /* Hauteur dynamique */
                overflow: hidden; /* Cache les parties de l'image qui débordent */
            }
        

            img {
                width: 100%;  /* L'image prend la largeur du conteneur */
                height: 100%;  /* L'image prend la hauteur du conteneur */
                object-fit: cover; /* Remplit le conteneur sans déformer l'image */
            }
        }


    }

    .section2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1000px;
        
        .section2-title {
            display: grid;
            width: 100%;
            flex-basis: 35%;
            justify-content: center;
            justify-items: center;
            background: #2b2a2a;

            h2 {
                font-family: $font1;
                font-size: 2.2rem;
                font-weight: 200;
                color: #976643;
                margin-top: 50px;
            }
    
            img {
                display: flex;
                margin-top: -90px;
            }
        }

            .section2-list {
                display: flex;
                
                ul {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    grid-template-columns: repeat(5,1fr);
                    gap: 8vw;
                    margin-top: -130px;
                }
                
                li {
                    display: flex;
                    position: relative;
                    align-items: flex-start;
                    text-align: center;
                    justify-content: center;
                    font-family: $font4;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    color: white;
        
                    &::after {
                        content: "";
                        position: absolute;
                        height: 1px;
                        top: 30px;
                        background: #f0efea;
                        width: 90%;
        
                    }

            }
        }



        .section2-menu {
            width: 100%; /* Largeur du conteneur */
            height: 100vh; /* Hauteur du conteneur */
            flex-basis: 75%;
            background-image: url(./assets/img/bg-menu-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;

            @media screen and (min-width: 1850px) {
                background-size: 100% 100%;
            }

            .section2-menu-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-areas:
                "dish1 dish2"
                "dish3 dish4"
                "dish5 dish6"
                "dish7 dish8";
                position: relative;
                top: -70px;
                left: 50%;
                transform: translate(-50%,0);
                justify-items: center;
                background-color: #f0efea;
                width: 70%;
                max-width: 1100px;
                min-width: 650px;
                height: 55vh;

                &:nth-child(1) {
                    grid-area: dish1;
                }
                &:nth-child(2) {
                    grid-area: dish2;
                }
                &:nth-child(3) {
                    grid-area: dish3;
                }
                &:nth-child(4) {
                    grid-area: dish4;
                }
                &:nth-child(5) {
                    grid-area: dish5;
                }
                &:nth-child(6) {
                    grid-area: dish6;
                }
                &:nth-child(7) {
                    grid-area: dish7;
                }
                &:nth-child(8) {
                    grid-area: dish8;
                }

                .dish1,
                .dish2,
                .dish3,
                .dish4,
                .dish5,
                .dish6,
                .dish7,
                .dish8 {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin: 0 auto;

                        &::after {
                            content: "";
                            display: flex;
                            justify-content: center;
                            position: absolute;
                            width: 90%;
                            margin-left: 15px;
                            height: 1px;
                            border-top: 1px dashed #1f1f1f3f;
                            margin-top: 13vh;
                        }

                    .dish-img {
                        display: flex;
                        width: 25%;
                        margin-left: 15px;
                        justify-content: center;
                        align-items: center;

                        img {
                            border-radius: 150px;
                            width: 85px;
                            height: 85px;
                        }
                    }
                    .dish-name {
                        display: grid;
                        width: 50%;
                        margin-left: 15px;

                        h3 {
                            font-family: $font3;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            font-weight: 600;
                            margin-bottom: 3px;
                            font-size: 1rem;

                        }
                        h4 {
                            font-family: $font4;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-weight: 300;
                            font-size: 0.8rem;

                        }
                    }
                    .dish-price {
                        display: flex;
                        width: 25%;
                        justify-content: center;

                        h5 {
                        display: flex;
                        align-items: center;
                        font-family: $font3;
                        font-size: 1rem;
                        color: #976643;
                        }
                    }
                }

                &::before {
                    content: "";
                    height: 5px;
                    top: -5px;
                    background: #976643;
                    position: absolute;
                    width: 100%;
                }
            }
        }
    }


    .section3 {
        background: #2b2a2a;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .section3-container {
            display: flex;
            width: 85%;
            height: 80%;
            max-width: 1500px;
            
            .section3-left-part {
                background: black;
                width: 30%;
                display: flex;
                margin: 0 auto;
                text-align: center;

                .info-contain {
                    color: #f0efea;
                    width: 100%;
                    display: grid;
                    justify-content: center;
                    text-align: center;
                    border: 1px dashed #f0efea;
                    margin: 6%;

                    h2 {
                        font-family: $font1;
                        font-size: 2.7rem;
                        font-weight: 200;
                        color: #976643;
                        margin-top: 10%;

                        @media screen and (min-width:1700px) {
                            font-size: 3rem;
                        }
                    }
                    h3 {
                        font-family: $font2;
                        text-transform: uppercase;
                        margin-top: -38px;
                        font-size: 1.4rem;

                        @media screen and (min-width:1700px) {
                            font-size: 1.6rem;
                        }
                    }
    
                    img {
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                        margin-top: -10px;
    
                    }
    
                    h5 {
                        font-family: $font3;
                        text-transform: uppercase;
                        font-size: 1.15rem;
                        color: #976643;

                        @media screen and (min-width:1700px) {
                            font-size: 1.4rem;
                        }
                    }
                    p {
                        font-family: $font4;
                        font-weight: 300;
                        font-size: 0.9rem;

                        @media screen and (min-width:1700px) {
                            font-size: 1.2rem;
                        }
                    }
                }

            }
            
            .section3-right-part {
                background: #f0efea;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .title {
                    display: grid;
                    justify-content: center;
                    width: 100%;
                    margin-top: 6%;

                    h2 {
                        font-family: $font1;
                        font-size: 2.7rem;
                        font-weight: 200;
                        color: #976643;
                        margin-top: -50%;
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        @media screen and (min-width:1700px) {
                            font-size: 3rem;
                        }
                    }
                    h3 {
                    font-family: $font2;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    margin-top: -30%;

                    @media screen and (min-width:1700px) {
                        font-size: 1.6rem;
                    }
                    }

                    img {
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                    }
                }
                
                .reservation {
                    display: grid;
                    position: relative;
                    margin-top: 15px;
                    grid-template-columns: 25% 25% 25%;
                    grid-template-rows: 1fr 1fr 1fr;
                    grid-template-areas:
                    "people date time"
                    "name phone email"
                    ". submit .";
                    row-gap: 20px;
                    justify-content: center;
                    text-align: center;
                    justify-items: center;
                    
                    &:nth-child(1) {
                        grid-area: people;
                    }
                    &:nth-child(2) {
                        grid-area: date;
                    }
                    &:nth-child(3) {
                        grid-area: time;
                    }
                    &:nth-child(4) {
                        grid-area: name;
                    }
                    &:nth-child(5) {
                        grid-area: phone;
                    }
                    &:nth-child(6) {
                        grid-area: email;
                    }
                    &:nth-child(7) {
                        grid-area: submit;
                    }


                    
                    label,
                    select,
                    input,
                    .select-wrapper,
                    .input-wrapper {
                        position: relative;
                        appearance: none; /* Supprime le style par défaut dans les navigateurs modernes */
                        border: none; /* Retire la bordure */
                        padding: 0; /* Supprime l'espace intérieur */
                        margin: 10px; /* Supprime l'espace extérieur */
                        background: none; /* Pas de couleur ou image de fond */
                        color: inherit; /* Hérite de la couleur du texte parent */
                        outline: none; /* Pas d'effet de focus visible */
                        width: 70%; /* Laisse l'élément s'adapter */
                        &::after {
                            content: ""; /* Insère un contenu vide */
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 2px;
                            background-color: gray; /* Couleur de la ligne */
                        }
                    }
                    button {
                        grid-area: submit;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: black;
                        color: #f0efea;
                        border: none;
                        height: 55px;
                        width: 220px;
                        border-radius: 50px;
                        font-family: $font2;
                        font-size: 1.1rem;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }

    .section4 {
        background: #2b2a2a;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        padding-top: 3.5vh;


        .section4-container {
            justify-content: center;
            align-items: center;
            width: 80%;
            max-width: 1200px;


            .title {
                display: grid;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                justify-items: center;

                h2 {
                    font-family: $font1;
                    font-size: 2.7rem;
                    font-weight: 200;
                    color: #976643;
                    margin-top: 10%;

                    @media screen and (min-width:1700px) {
                        font-size: 3rem;
                    }
                }
                h3 {
                    font-family: $font2;
                    text-transform: uppercase;
                    margin-top: -1vh;
                    font-size: 1.8rem;
                    letter-spacing: 2px;
                    color: white;

                    @media screen and (min-width:1700px) {
                        font-size: 1.6rem;
                    }
                }

                img {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }

            }

            .tickets {

                .grid-container {
                    height: 30vh;
                    margin-top: 20px;
                    display: grid;
                    justify-content: center;
                    row-gap: 20px;
                    column-gap: 20px;
                    grid-template-columns: 65% 35%;  /* La première colonne prend 65%, la seconde 35% */
                    grid-template-rows: auto auto;   /* Deux lignes, taille automatique */
                    grid-template-areas:
                      "t1 t3"   /* La première ligne, item1 occupe 65%, item3 occupe 35% */
                      "t2 t3";  /* La deuxième ligne, item2 occupe 65%, item3 occupe 35% */
                  }
                  
                  .t1 {
                    grid-area: t1;
                    background-color: #f0efea;
                    display: flex;
                    width: 100%;
                    height: 180px;


                    .left-part {
                        width: 35%;
                        background: url(/assets/img/event-01.jpg);
                        background-position: center;
                        background-size: cover;
                        position: relative;

                        .date {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            z-index: 100;

                            h3 {
                                margin: 0;
                                text-align: center;
                                text-transform: uppercase;
                                font-family: $font2;
                                font-size: 1.8vh;
                                color: #f0efea;
                                font-weight: 200;
                            }
                            h4 {
                                margin: 0;
                                text-align: center;
                                font-family: $font4;
                                font-size: 1.2vh;
                                color: #f0efea;
                                font-weight: 100;
                                letter-spacing: 0.5px;
                            }
                        }

                        &::after {
                            content: "";
                            background: #2b2a2a;
                            width: 70px;
                            height: 70px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                        }
                    }
                    .right-part {
                        width: 65%;
                        display: grid;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 25px 3vw;

                        h3 {
                            font-family: $font3;
                            font-weight: 300;
                            padding-left: 2%;
                        }

                        h4 {
                            font-family: $font3;
                            font-weight: 100;
                            color: gray;
                        }

                        button {
                            display: flex;
                            justify-content: left;
                            border: none;
                            font-family: $font4;
                            font-weight: 700;
                            text-transform: uppercase;
                            background: none;
                        }
                    }
                  }
                  
                  .t2 {
                    grid-area: t2;
                    background-color: #f0efea;
                    display: flex;
                    width: 100%;
                    height: 180px;
                    position: relative;

                    .left-part {
                        width: 35%;
                        background: url(/assets/img/event-02.jpg);
                        background-position: center;
                        background-size: cover;
                        position: relative;

                        .date {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            z-index: 100;

                            h3 {
                                margin: 0;
                                text-align: center;
                                text-transform: uppercase;
                                font-family: $font2;
                                font-size: 1.8vh;
                                color: #f0efea;
                                font-weight: 200;
                            }
                            h4 {
                                margin: 0;
                                text-align: center;
                                font-family: $font4;
                                font-size: 1.2vh;
                                color: #f0efea;
                                font-weight: 100;
                                letter-spacing: 0.5px;
                            }
                        }
                        &::after {
                            content: "";
                            background: #2b2a2a;
                            width: 70px;
                            height: 70px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                        }
                    }

                    .right-part {
                        width: 65%;
                        display: grid;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 25px 3vw;

                        h3 {
                            font-family: $font3;
                            font-weight: 300;
                            padding-left: 2%;
                        }

                        h4 {
                            font-family: $font3;
                            font-weight: 100;
                            color: gray;
                        }

                        button {
                            display: flex;
                            justify-content: left;
                            border: none;
                            font-family: $font4;
                            font-weight: 700;
                            text-transform: uppercase;
                            background: none;
                        }
                    }
                  }
                  
                  .t3 {
                    grid-area: t3;
                    width: 100%; /* Largeur du conteneur */
                    height: 100%; /* Hauteur du conteneur */
                    flex-basis: 75%;
                    background-image: url(/assets/img/event-03.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    
                    .contain {
                        display: grid;
                        position: relative;
                        justify-items: center;
                        background-color: #f0efea;
                        width: 85%;
                        height: 85%;
                    }
                    

                        &::after {
                            content: "";
                            background: #2b2a2a;
                            width: 70px;
                            height: 70px;
                            position: absolute;
                            top: 9%;
                            left: 50%;
                            transform: translate(-50%, -9%);
                            z-index: 1;
                        }
                        .date {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 70px;
                            z-index: 100;
                            margin-top: -2px;

                            h3 {
                                text-align: center;
                                text-transform: uppercase;
                                font-family: $font2;
                                font-size: 1.8vh;
                                color: #f0efea;
                                font-weight: 200;
                            }
                            h4 {
                                margin: 0;
                                text-align: center;
                                font-family: $font4;
                                font-size: 1.2vh;
                                color: #f0efea;
                                font-weight: 100;
                                letter-spacing: 0.5px;
                            }
                        }

                        .text {
                            width: 65%;
                            display: grid;
                            align-items: center;
                            justify-content: center;
                            align-content: space-evenly;
                            text-align: center;
                            box-sizing: border-box;
                            margin-top: -40%;
    
                            h3 {
                                font-family: $font3;
                                font-weight: 300;
                                padding-left: 2%;
                            }
    
                            h4 {
                                font-family: $font3;
                                font-weight: 100;
                                color: gray;
                            }
    
                            button {
                                display: flex;
                                justify-content: center;
                                border: none;
                                font-family: $font4;
                                font-weight: 700;
                                text-transform: uppercase;
                                background: none;
                            }
                        }
                  }

            }

        }
    }
}
