nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 100vw;
    color: white;

    .logo {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 40px 0 0;
        
        h1 {
            font-size: 2rem;
        }
    }


    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .pages {
        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:  0 20px;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4vw; /* Espacement uniforme */
            width: 100%;
            max-width: 1000px;
        }
        
        li {
            align-items: center;
            text-align: center;
            justify-content: center;
            font-family: $font4;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }

    .nav-icon {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 0 0 20px;
        
        li {
            margin: 0 10px;

            i {
                color: aliceblue;
            }
        }
    }
}